/* CSS Document */

.fixed_headers {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    /*text-decoration: underline;*/
}

th, td {
    padding: 5px;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) {
    min-width: 60px;
}

td:nth-child(2), th:nth-child(2) {
    min-width: 180px;
}

td:nth-child(3), th:nth-child(3) {
    min-width: 200px;
}

td:nth-child(4), th:nth-child(4) {
    min-width: 150px;
}

td:nth-child(5), th:nth-child(5) {
    min-width: 150px;
}

td:nth-child(6), th:nth-child(6) {
    min-width: 400px;
}

thead {
    background-color: #333;
    color: #FDFDFD;
}

tr {
    display: block;
    position: relative;
}

.block {
    background-color: #eee;
}

.block-inv {
    background-color: #ccc;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > theader > tr > th {
    vertical-align: middle;
}

header {
    /*margin: 10px 0;*/
    text-align: center;
}

.btn {
    width: 98px;
}

.result {
    background-color: #333;
    color: #fdcb6a;
}

.table > tfoot > tr > td {
    border-top: none;
}


* {
    margin: 0;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    min-height:386px;
}

.container {
    min-height: 90%;
    height: 90%;
    margin: 0 auto -55px;
    overflow-y: hidden;
}

.footer, .push{
    height: 55px;
}

tbody {
    min-height: 55px !important;
    display: block;
    overflow-y: auto;
    width: 100%;
    min-height: 55px;
    overflow-x: hidden;
    padding-bottom: 55px;
}
